/* Global */
:root {
  /* Color */
  --color-light-blue: #79b4b7;
  --color-mid-blue: #5eaaa8;
  --color-dark-blue: #4e8f8e;
  --color-white: #fefbf3;
  --color-beige: #f8f0df;
  --color-grey: #9d9d9d;
  --color-light-orange: #ecb390;
  --color-peach: #df7861;
  --color-light-green: #d3e4cd;
  --color-mid-green: #adc2a9;
  --color-dark-green: #99a799;
  --color-brown: #5e454b;
  --color-dark-brown: #483434;
  --color-black: #231e23;

  /* Font Size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font Weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-boarder-radius: 4px;

  /* Animation */
  --animation-duration: 250ms;
}

/* Universal Tags */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'IBM Plex Sans KR', sans-serif;
  cursor: default;
  background-color: var(--color-white);
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  list-style-type: none;
  padding-left: 0;
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-dark-brown);
  margin: 16px 0;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-dark-brown);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-dark-brown);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-dark-brown);
  margin: 4px 0;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Navbar */
#navbar {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-mid-blue);
  align-items: center;
  color: var(--color-white);
  padding: 16px;
}

.navbar__menu {
  display: flex;
}

.navbar__logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-beige);
}

.navbar__menu__item {
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
  border-radius: var(--size-boarder-radius);
}

.navbar__menu__item.active {
  border: 1px solid var(--color-white);
}

.navbar__menu__item:hover {
  background-color: var(--color-white);
  color: var(--color-mid-blue);
}

/* Home */
#home {
  background: url(img/home-background.png) center/cover no-repeat;
  padding: 40px;
  text-align: center;
}

.home__avatar {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 2px solid var(--color-white);
}

.home__title,
.home__description {
  color: var(--color-white);
}

.home__contact {
  color: var(--color-white);
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  margin: 24px;
  padding: 8px 12px;
  border: 2px solid var(--color-white);
  border-radius: var(--size-boarder-radius);
}

/* Section Common */
.section {
  padding: 50px;
  text-align: center;
  margin: auto;
  color: var(--color-brown);
}

.section__container {
  max-width: 1200px;
  margin: auto;
}

/* About */
.about__majors {
  display: flex;
  justify-content: space-between;
  margin: 80px 0;
}

.major__icon {
  width: 170px;
  height: 170px;
  line-height: 170px;
  font-size: 70px;
  color: var(--color-brown);
  margin: auto;
  border: 1px solid var(--color-brown);
  border-radius: 50%;
  margin-bottom: 16px;
}

.major__icon i {
  transition: all var(--animation-duration) ease;
}

.major__icon:hover i {
  color: var(--color-mid-blue);
  transform: rotate(-30deg) scale(1.1);
}

.major__title {
  font-weight: var(--weight-semi-bold);
}

.major__description {
  font-size: var(--font-small);
}

.career {
  display: flex;
  align-items: center;
}

.job__description {
  margin: 0 16px;
  text-align: left;
}

.job__name,
.job__period {
  color: var(--color-dark-brown);
}

.job__name {
  font-size: var(--font-small);
}

.job__period {
  font-size: var(--font-micro);
}

/* Skill */

#skills {
  background-color: var(--color-beige);
}

.skillset {
  display: flex;
  color: var(--color-white);
  background-color: var(--color-mid-blue);
  margin: 20px 0;
}

.skillset__title {
  color: var(--color-white);
  margin: 0;
  padding: 8px 0;
}

.skillset__left {
  flex-basis: 60%;
  background-color: var(--color-dark-blue);
}

.skill {
  padding: 20px 40px;
  margin-bottom: 16px;
}

.skill__description {
  display: flex;
  justify-content: space-between;
}

.skill__bar {
  width: 100%;
  height: 8px;
  background-color: var(--color-mid-blue);
}

.skill__value {
  height: 8px;
  background-color: var(--color-beige);
}

.skillset__right {
  flex-basis: 40%;
}

.tools {
  background-color: var(--color-light-blue);
}

.tools,
.etc {
  padding: 14px;
}

/* Work */

.work__categories {
  margin: 40px;
}

.category__btn {
  border: 1px solid var(--color-white);
  border-radius: var(--size-boarder-radius);
  font-size: var(--font-regular);
  padding: 8px 48px;
}

.category__btn.active,
.category__btn:hover {
  background-color: var(--color-mid-blue);
  color: var(--color-white);
}

.category__btn.active .category__count,
.category__btn:hover .category__count {
  opacity: 1;
  top: 0;
}

.category__count {
  border: 0.5px solid lightcoral;
  background-color: lightcoral;
  color: var(--color-white);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  line-height: 24px;
  display: inline-block;
  position: relative;
  top: -20px;
  left: 8px;
  opacity: 0;
  transition: all var(--animation-duration);
}

.work__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 250px;
  margin: 2px;
  background-color: var(--color-beige);
}

.project__img {
  max-width: 100%;
  max-height: 100%;
}

.project__description {
  position: absolute;
  background-color: var(--color-dark-brown);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateY(10px);
  transition: all var(--animation-duration) ease-in;
}

.project:hover .project__description {
  opacity: 0.8;
  transform: translateY(0);
}

.project__name {
  color: var(--color-white);
}

.project__name:after {
  content: '';
  display: block;
  position: relative;
  left: 50%;
  width: 30px;
  height: 2px;
  background-color: var(--color-white);
  margin-left: -15px;
  margin-top: 8px;
}
